@font-face {
	font-family: BebasKai;
	src: url('../fonts/BebasKai.otf');
  }
body {
    background-color: 	#fafafa;
    font-family: 'Poppins', sans-serif;
    overflow-x:hidden;
    overflow-y:hidden;
}


.main {
    background: linear-gradient(to bottom, #302f30 50%, white 50%);
    width: 450px;
    height: 550px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    /*border: 2px solid rgb(48, 48, 48);*/
}


.bienvenido h2{

	display: inline-block;
	position: relative;
}

h2{
	content: '';
	position: absolute;
	height: 1px;
	width: 100%;
	background-color:white;
	top:-0.8em;
	transform: scale(1);
	transition: all 0.2s ease-in;

}

img.pequena{
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 0px;
    padding-bottom: 45px;
  }

  img.medio2{
    height: 27px;
    margin-left: 23px;
    margin-top: 7px;
    display: block;
  }

  img.medio3{
    height: 33px;
    margin-left: 12px;
    margin-right: auto;
    display: block;
  }

  hr.new4 {
    border: 0.01px solid rgb(255, 255, 255);
    width: 88%;
  }

  .padre {
    /*height: 150px;*/
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hijo {
    width: 120px;
  }


  .padre2 {
    /*height: 150px;*/
    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -45px;
    background-color: white;
  }

  .hijo2 {
    width: 90%;
  }




.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}

.un {
text-align: center !important;
width: 76%;
color: #5e5c5d;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: #faf9f7;
padding: 10px 10px;
border: none;
border-radius: 30px;
outline: none;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 55px;
text-align: left;
margin-bottom: 27px;
margin-top: 0.5rem;
}

form.form1 {
    padding-top: 30px;
    background-color: white;
}

.pass {
text-align: center !important;
width: 76%;
color: #5e5c5d;
font-weight: 700;
font-size: 14px;
letter-spacing: 1px;
background: #faf9f7;
padding: 10px 10px;
border: none;
border-radius: 30px;
outline: none;
font-family: 'Poppins' !important;
box-sizing: border-box;
border: 2px solid rgba(0, 0, 0, 0.02);
margin-bottom: 50px;
margin-left: 55px;
text-align: left;
margin-bottom: 22px;
margin-top: 0.5rem;
}
.pass:-webkit-autofill,
/* Estilo cuando el campo se autocompleta */
.un:-webkit-autofill {
    color: #888ea8 !important; /* Cambia el color del texto cuando se autocompleta */
    background-color: #fff4d9 !important; /* Cambia el color de fondo cuando se autocompleta */
    transition: background-color 5000s ease-in-out 0s;
    transition: color 5000s ease-in-out 0s, background-color 5000s ease-in-out 0s;
}

.submit {
    width: 50%;
    cursor: pointer;
    border-radius: 3em;
    color: #fff;
    background-color: #302f30;
    border: 2px solid #302f30;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    letter-spacing: 1px;
    margin-left: 115px;
    font-size: 15px;
    outline: none;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    font-weight: 600;
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    padding-top: 15px;
}

a {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #E1BEE7;
    text-decoration: none
}

@media (max-width: 600px) {
    .main {
        margin-top:0;
        border-radius: 1.5em;
        width: 340px;
        height: 525px;
    }

    img.medio3 {
      height: 33px;
      margin-left: -2px;
      margin-right: auto;
      display: block;
  }

  img.medio2 {
    height: 27px;
    margin-left: 9px;
    margin-top: 7px;
    display: block;
}
.un {
  margin-left: 35px;
}

.pass {
  margin-left: 35px;
}
.submit {
  width: 72%!important;
  margin-left: 45px;
  }
}


@media (max-width: 360px) {

  .un {
    margin-left: 32px;
  }

  .pass {
    margin-left: 32px;
  }

  .main {
      border-radius: 1.5em;
      width: 280px;
      height: 500px;
    }

  img.medio3 {
    height: 25px;
    margin-left: -2px;
    margin-right: auto;
    display: block;
}

img.medio2 {
  height: 21px;
  margin-left: 9px;
  margin-top: 7px;
  display: block;
}

img.medio1 {
  height: 57px;
  margin-left: 20px;
  display: block;
}

.submit {
  width: 70%!important;
  }

}

@media (max-width: 300px) {
  .submit {
    width: 70%!important;
    }
.main {
    border-radius: 1.5em;
    width: 262px;
          height: 445px;
  }

img.medio3 {
  height: 25px;
  margin-left: -2px;
  margin-right: auto;
  display: block;
}
img.medio2 {
  height: 21px;
  margin-left: 9px;
  margin-top: 7px;
  display: block;
}
img.medio1 {
  height: 57px;
  margin-left: 14px;
  display: block;
}
.un {
  margin-left: 30px !important;
}
.pass {
  margin-left: 30px;
}
.submit {
  margin-left: 30px;
}
}




@media (max-width: 280px) {
  .main {
      border-radius: 1.5em;
      width: 250px;
            height: 445px;
    }

  img.medio3 {
    height: 25px;
    margin-left: -2px;
    margin-right: auto;
    display: block;
}

img.medio2 {
  height: 21px;
  margin-left: 5px;
  margin-top: 7px;
  display: block;
}

img.medio1 {
  height: 57px;
  margin-left: 14px;
  display: block;
}

.un {

  margin-left: 30px;

}

.pass {

  margin-left: 30px;

}

.submit {
  margin-left: 37px;
}

}
